.responsive-png {
   width: 8%;
  max-width: 37px;
  height: auto;
}
.container
{
height:20%;
 width:100%;

}
.cc
{
color:#66fcf1;
text-decoration:none;
}

. cc a{
background-color:#66fcf1;fs
}
h3 {color:#adefd1ff;}

h4 {color:#adefd1ff;}

#particles-js14
{
 height:30px;
}
#particles-js15
{
 height:30px;
}
#particles-js16
{
 height:30px;
}
#particles-js17
{
 height:30px;
}
#particles-js18
{
 height:30px;
}
#particles-js19
{
 height:30px;
}
#particles-js20
{
 height:30px;
}
#particles-js21
{
 height:30px;
}
#particles-js22
{
 height:30px;
}
#particles-js38
{
 height:30px;
}

#particles-js41
{
 height:30px;
}

#particles-js42
{
 height:30px;
}

#particles-js43
{
 height:30px;
}




  /* window size 600 width set */
        @media screen and (max-width: 600px) {
            .cf {
               display:inline-block
               width:100%;

            }


        }

        /* window size 850 width set */
        @media screen and (max-width: 850px) {
            .cf {
                display:inline-block


            }

        }
