.aso
{
 margin:10px 50px;

}
.aso img
{
  width:230px;
  padding:5px;
 //filter: grayscale(60%);
  transition: 1s;
}
.aso img:hover 
{
 filter:grayscale(0);
 transform:scale(1.1 );
}



  /* window size 600 width set */ 
        @media screen and (max-width: 600px) { 
            .aso { 
                margin:10px 50px;
               
            }
 
 
        }

        /* window size 850 width set */ 
        @media screen and (max-width: 850px) { 
            .aso { 
                margin:10px 50px; 

            }
  
        } 





#particles-js7 
{
 height:35px;
}
#particles-js8 
{
 height:35px;
}

