#skm{
   width: 100%;
  max-width: 50px;
  height: auto;
}
#line {

  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#C0C0C0;
  height: 4px;

}

#particles-js5
{
 height:35px;
}

#particles-js6
{
 height:35px;
}

#particles-js7
{
 height:35px;
}
#particles-js8
{
 height:35px;
}
#particles-js37
{
 height:35px;
}
