*{
  margin:0;
   padding:0;
}
  html {
     background-color:#0D0D0D;  /* set the background color here */
     color:#edf5e1;  /* set the text color to black here */
}
body{
     background-color:#0D0D0D;  /* set the background color here */
     color:#edf5e1;  /* set the text color to black here */
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color:#000000;
}
footer{
  background-color:black;
text-align: center;
}

h1 {color:lightblue;
text-align:center;}
p {color:#adefd1ff;
text-align:center;}






/* this section is only for the images sildes */
.slider {max-width:800px;
         height:auto;

}

#line {

  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#C0C0C0;
  height: 4px;

}


/* the slider button */
.bb-left, .bb-right{

  cursor: pointer;
  top: 60%;
  width: auto;
  margin-top:-18px;
  padding: 12px;
  color:black;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 5px 2px 2px 0;
  user-select: none;
}
.bb-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.bb-left:hover, .bb-right:hover {
  background-color: #c3073f;
}

.aa {
     display:none;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     padding: 10px;
}




#particles-js
{
 height:35px;
}
#particles-js2
{
 height:35px;
}
#particles-js3
{
 height:35px;
}
#particles-js23
{
 height:35px;
}
#particles-js29
{
 height:35px;
}
#particles-js30
{
 height:35px;
}
#particles-js31
{
 height:35px;
}


.hukka
{
 margin:10px 50px;

}
.hukka img
{
  width:230px;
  padding:5px;
 //filter: grayscale(60%);
  transition: 1s;
}
.hukka img:hover
{
 filter:grayscale(0);
 transform:scale(1.1 );
}



  /* window size 600 width set */
        @media screen and (max-width: 600px) {
            .hukka {
                margin:10px 50px;

            }


        }

        /* window size 850 width set */
        @media screen and (max-width: 850px) {
            .hukka {
                margin:10px 50px;

            }

        }

#s
{
color:#dcd9c6;
}
