*{
  margin:0px;
  padding:0px;
  box-sizeing:border-box;
}


  html,body {
     background-color:#0b0c10;  /* set the background color here */
     color:#edf5e1;  /* set the text color to black here */
     font-family:"comic-sans-ms"; /* set the font here */
     text-align: center; /* set the text alignment here */
     margin:0;
     width:100%;
     height:100%;
     overflow-x: hidden;
 }
/* for mobile view */



.ab {
     background-color:#333;
     display:flex;
     justify-content:flex-start;
     position:fixed;
}

.yo {
 background-color:#c3073f;

}

.ab a {
  color: #66fcf1;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
  padding:15px 25px;
}


.ab a:hover {
  background-color:#c3073f ;
  color::#1a1a1d ;
}


.ab input[type=text] {
  float: right;
  padding: 6px 4px 0 6px;
  margin-top: 8px;
  margin-right: 15px;
  border:solid;
  font-size: 17px;
}
.read p
{
 text-align:justify;

 padding:10px;
}

#toggle
{
  display:none;
 }
.togg 
{
 background-color:#333;
 border-bottom:2px solid#white;
 color:white;
 padding:10px;
 display:flex;
 justify-content:flex-start;
}
.togg label
{
 bacground-color:white;
 height:20px;
 width:50px;
 color:white;
 cursor:pointer;
 display:flex;
 align-items:center;
 flex-direction:column;
 
}
.togg
{
 display:none;
}
.togg label span
{
 background-color;
 height:20px;
 width:100%;
 mergin: 0px 0px;
}

/* when screen is 600px less then screen is vertical ratherthan horizontal */


 @media screen and (max-width:600px)
{
  .ab {
     flex-direction:column;
     display:none;
}
  #toggle:checked + .ab
 {
   display:flex;
 }
 .togg
 {
  display:flex;
 }
 .imp
 { 
    width: 100%;
    padding:0.5px;
    margin:0.5px;
   
 }

}


/* this section is only for the images sildes */
.slider {max-width:800px;
         height:auto;

}

.aa {
     display:none;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     padding: 10px;
}


/*this is footer section */ 
 footer {
    margin-top:100px;
    color:cyan;
    font-weight:bold;
    background-color:#333;
    clear:both;
    text-align:center;
    padding:10px;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}



/* about */

.git {
  color:#66fcf1;;
  text-decoration:none;
  text-transform:uppercase;
}
.git a:hover {
  background-color:#c3073f ;
  color::#1a1a1d ;
}
.about 
{
 padding:15px;
 margin:10px;
}

.imp{
display:list-item;
padding:10px;
margin:10px;

}

#hope
{
 width:40%;
 border:dotted;
 border-color:black;
}
.s
{
 color:cyan;
 font-weight:bold;
}
.o
{
 font-weight:bold;

}
.r1 {
 text-align:center;
 left:auto;
 right:auto;
  
}

.c1{
  float:left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 110px;
text-align:center;
 
}

.d {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;

}

.cont {
  padding: 60px;
  text-align: center;
  
 
}

.cont {
  padding: 0 15px;
}

.cont::after, .r1::after {
  content: "";
  clear: both;
  display: block;
text-align: center;

}
.ee
{
  color:#66fcf1;
  text-decoration:none;
}
#m {color:lime;}
/* blog */
.blog{
 
  padding:50px;
  background-color:grey;
  transition: transform .2s;
  width:200px;
  height:200px;
  margin: 0 auto;
}
.blog:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


/* project section */


.pop
{
 text-decoration:none;
 color:#66fcf1;
}
.pro a 
{
  color: #66fcf1;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;

}


.pro a:hover 
{
  background-color:#c3073f ;
  color::#1a1a1d ;
}

.cc 
{
color:#66fcf1;
text-decoration:none;
}
. cc a{
background-color:#66fcf1;fs
}
/* photography  */
.vid {
 margin:auto;
 padding:auto;

}
.r1 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.c1 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.c1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .c1 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .c1 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}






