/* photography  */


#skm{
   width: 100%;
  max-width: 50px;
  height: auto;
}
.gallery
{
 margin:10px 50px;

}
.gallery img
{
  width:230px;
  padding:5px;
 //filter: grayscale(60%);
  transition: 1s;
}
.gallery img:hover 
{
 filter:grayscale(0);
 transform:scale(1.1 );
}


.vid {
 margin:auto;
 padding:auto;

}

  /* window size 600 width set */ 
        @media screen and (max-width: 600px) { 
            .gallery { 
                margin:10px 50px;
               
            }
 
 
        }

        /* window size 850 width set */ 
        @media screen and (max-width: 850px) { 
            .gallery { 
                margin:10px 50px; 

            }
  
        } 

#particles-js24 
{
 height:30px;
}
#particles-js25 
{
 height:30px;
}
#particles-js26 
{
 height:30px;
}
#particles-js27
{
 height:30px;
}
#particles-js28 
{
 height:35px;
}

