/* project section */

#skm{
   width: 100%;
  max-width: 50px;
  height: auto;
}

.pop
{
 text-decoration:none;
 color:#66fcf1;
}
.pro a 
{
  color: #66fcf1;
  text-align: center;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;

}


.pro a:hover 
{
  background-color:#c3073f ;
  color::#1a1a1d ;
}
#particles-js10 
{
 height:30px;
}
#particles-js11 
{
 height:30px;
}
#particles-js12
{
 height:30px;
}
#particles-js13 
{
 height:30px;
}
#particles-js39
{
 height:30px;
}
#particles-js40
{
 height:30px;
}
#particles-js40
{
 height:30px;
}
#particles-js44
{
 height:30px;
}


